<h2><strong>Management</strong></h2>
<ul class="list-group">   
  <li class="list-group-item">
    <h4><strong>Create pool</strong></h4>
    <div class="row">
      <div class="col-md-8">
        <p>You can create your pool from available resources. You can choose from device types like mirror etc.</p>
      </div>
      <div class="col-md-4">
          <div class="btn-group-justified">       
            <a href="/zpool/createform" class="btn btn-primary">Create</a>               
          </div> 
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <h4><strong>Add device</strong></h4>
    <div class="row">
      <div class="col-md-8">
        <p>Add virtual device to this pool. You can choose from mirror etc.</p>
      </div>
      <div class="col-md-4">
          <div class="btn-group-justified">       
            <a href="/device/addform" class="btn btn-warning">Add device</a>
          </div> 
      </div>
    </div>
  </li> 
</ul>
