{% extends "sources_form.html" %}
{% block form %}
        <h2><strong>Add Form</strong></h2>
        <ul class="list-group">
          <li class="list-group-item">
            <h4><strong>Target Pool</strong></h4>
            <div class="row">
              <div class="col-md-12">              			              
                <select name="target_pool" class="form-control" id="Pool">
                  {%- for pool in pools -%}
                  <option value="{{ pool }}">{{ pool }}</option>
                  {%- endfor -%}			            
                </select>
              </div>
            </div>
            <h4><strong>Device type</strong></h4>
            <div class="row">
              <div class="col-md-12">              			              
                <select name="type" class="form-control" id="Type">
                  <option value="none">None</option>
                  <option value="mirror">Mirror</option>
                  <option value="raidz">Raidz</option>
                  <option value="raidz1">Raidz1</option>
                  <option value="raidz2">Raidz2</option>
                  <option value="raidz3">Raidz3</option>
                  <option value="cache">Cache</option>
                  <option value="log">Log</option>
                </select>
              </div>
            </div> 
            <h4><strong>Add device</strong></h4>       
            <div class="row">
              <div class="col-md-8"> 
                <button type="submit" class="btn btn-warning">Add device </button>                       			              
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <label>
                    <input name="forced" value="true" type="checkbox"> Forced
                  </label>
                </div>         
              </div>
            </div>                               
          </li>        
        </ul>
{% endblock %}
